<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/analysis.service.js}"></script>
    <script type="text/javascript" th:src="@{https://www.google.com/jsapi}"></script>

    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <script type="text/javascript">

        google.load("visualization", "1", {packages: ["corechart", "table"]});

        google.setOnLoadCallback(function () {

            function drawChart(data) {
                var options = {
                    title: 'B & I Analysis Result',
                    pieHole: 0.4
                };
                var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                chart.draw(data, options);
            }

            function drawTable(data) {
                var table = new google.visualization.Table(document.getElementById('table_div'));
                table.draw(data, {width: '90%', height: '100%'});
            }

            Analysis.getBIAnalysis(
                function success(result) {
                    var rows = [];

                    var patients = result.patients;
                    for (var key in patients) {
                        if (patients.hasOwnProperty(key)) {
                            rows.push([result.patientTypeNameMap[key], patients[key]])
                        }
                    }

                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Patient Type');
                    data.addColumn('number', 'Count');
                    data.addRows(rows);

                    drawChart(data);
                    drawTable(data);
                },
                function failure(errs) {
                    for(var key in errs) {
                        if(errs.hasOwnProperty(key)) {
                            toastr.error(errs[key]);
                        }
                    }
                }
            );
        });


    </script>
</head>
<body>
<h3>Medication B & I Analysis</h3>
<p>
    <span class="sub-greeting">Data in table view</span>
</p>
<div id="table_div"></div>
<p>
    <span class="sub-greeting">Data in chart view</span>
</p>
<div id="piechart"></div>
</body>
</html>
